<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 center-login">
  <form class="form-signin" name="form" #f="ngForm" (ngSubmit)="f.form.valid && signin()" novalidate>
    <h2 class="form-signin-heading">Login</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" [(ngModel)]="model.username" class="form-control" name="username" #username="ngModel"
      placeholder="email" (keyup)="clearMessages()" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" [(ngModel)]="model.password" class="form-control" name="password" #password="ngModel"
      placeholder="password" (keyup)="clearMessages()" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button mat-raised-button color="primary" class="btn btn-lg btn-block" type="submit">Login</button>
    <div *ngIf="working" class="progress-comp">
      <mat-spinner class="progress-comp"></mat-spinner>
    </div>
  </form>
  <br>
  <div *ngIf="errorMessages.length > 0" class="alert alert-danger alert-dismissable has-error">
    <div *ngFor="let errorMessage of errorMessages">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p>Error:
        <strong>{{ errorMessage.description }}</strong>
      </p>
    </div>
  </div>
</div>
