<h1>Ticket</h1>
<br>
<div *ngIf="ticket.id > 0">
  <div class="row">
    <div class="col-sm-6">
      <h3>{{ ticket.subject }}</h3>
    </div>
    <div class="col-sm-5">
      <p>Ticket Id: {{ ticket.id }}</p>
      <p>Status: {{ ticket.status }}</p>
      <p>Prioritet: {{ ticket.priority }}</p>
      <button (click)="goToLatestsAnswer()" class="btn btn-default">Gå til seneste svar i tråden</button>
    </div>
  </div>
  <hr>
  <div class="row text">
    <div class="col-sm-3 small">
      <p>Anmoder:
        <br>{{ ticket.requester }}</p>
      <p>Ansvarshavende:
        <br>{{ ticket.assignee.userName }}</p>
      <p>Ticket lavet:
        <br>{{ ticket.createdAt | date:'HH:mm dd-MM-yyyy' }}</p>
      <p>Ticket sidst opdateret:
        <br>{{ ticket.updatedAt | date:'HH:mm dd-MM-yyyy' }}</p>
    </div>
    <div class="text borders col-md-6">
      <h3>Beskrivelse</h3>
      <p>{{ ticket.body }}</p>
      <hr>
      <div *ngIf="messages.length > 0">
        <h3>Beskeder og Noter</h3>
        <div *ngFor="let message of messages">
          <mat-card>
            <mat-card-header>
              <mat-card-title *ngIf="message.isNote; then notetemp; else beskedtemp"></mat-card-title>
              <ng-template #notetemp>
                <mat-card-title>Note</mat-card-title>
                <mat-card-subtitle>{{message.updatedAt | date:'HH:mm dd-MM-yyyy'}}
                  <br> {{message.author}}
                </mat-card-subtitle>
              </ng-template>
              <ng-template #beskedtemp>
                <mat-card-title>Besked</mat-card-title>
                <mat-card-subtitle>{{message.updatedAt | date:'HH:mm dd-MM-yyyy'}}
                  <br> {{message.sender}}
                  <br> {{message.senderEmail}}
                </mat-card-subtitle>
              </ng-template>
            </mat-card-header>
            <mat-card-content>
              <p>{{message.body}}</p>
            </mat-card-content>
          </mat-card>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <textarea [(ngModel)]="body" class="form-control" rows="4"></textarea>
      </div>
      <div class="col-md-2">
        <br>
        <mat-radio-group class="example-radio-group" [(ngModel)]="isNote">
          <mat-radio-button class="example-radio-button" [value]="true">
            Intern
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="false">
            Ekstern
          </mat-radio-button>
        </mat-radio-group>
        <br>
        <button (click)="sendAnswer()" class="btn btn-default">Send svar</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="ticket.id < 0">
  <h1>Ingen ticket valgt</h1>
</div>
